.DTitle{
    border: solid 1px red solid;
}

.DImage{
    padding: 1rem;
    margin: 1rem; 
    width:20%;
    height:auto;
    display: ;
    border: solid 1px red;
}

.DImage.img{
}

.moviegrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}